<% layout("/layouts/boilerplate") %>
<body> 
        <!-- <h3>All Listings</h3> -->

        <style>
          .tax-toggle{
            border: 1px solid black;
            border-radius: 0.8rem;
            height: 3rem;
            padding: 1rem;
            margin-left: 2.3rem;
            display: flex;
            align-items: center;
          }

          .tax-toggle:hover{
            background-color: #f7f7f7;
          }
          
          .form-check-label{
            font-size: 0.8rem;
          }

          .tax-info{
            display: none;
          }
        </style>
        <div id="filters">
          <div class="filter">
            <a href="/listings/filter?value=Trending" class="link-dark">
              <div><i class="fa-solid fa-fire"></i></div>
              <p>Trending</p>
            </a>  
          </div>
          <div class="filter">
            <a href="/listings/filter?value=Rooms" class="link-dark">
              <div><i class="fa-solid fa-bed"></i></div>
              <p>Rooms</p>
            </a>
            </div>
          <div class="filter">
            <a href="/listings/filter?value=Iconic cities" class="link-dark">
              <div><i class="fa-solid fa-mountain-city"></i></div>
              <p>Iconic cities</p>
            </a>
          </div>
          <div class="filter">
            <a href="/listings/filter?value=Mountains" class="link-dark">
              <div><i class="fa-solid fa-mountain"></i></div>
              <p>Mountains</p>
            </a>
          </div>
          <div class="filter">
            <a href="/listings/filter?value=Castles" class="link-dark">
              <div><i class="fa-brands fa-fort-awesome"></i></div>
              <p>Castles</p>
            </a>
          </div>
          <div class="filter">
            <a href="/listings/filter?value=Amazing pools" class="link-dark">
              <div><i class="fa-solid fa-person-swimming"></i></div>
              <p>Amazing pools</p>
            </a>
          </div>
          <div class="filter">
            <a href="/listings/filter?value=Camping" class="link-dark">
              <div><i class="fa-solid fa-campground"></i></div>
              <p>Camping</p>
            </a>
          </div>
          <div class="filter">
            <a href="/listings/filter?value=Beach" class="link-dark">
              <div><i class="fa-solid fa-umbrella-beach"></i></div>
              <p>Beach</p>
            </a>
          </div>
          <div class="filter">
            <a href="/listings/filter?value=Arctic" class="link-dark">
              <div><i class="fa-regular fa-snowflake"></i></div>
              <p>Arctic</p>
            </a>
          </div>
          <!-- <div class="filter">
            <a href="/listings/filter?value=Treehouses" class="link-dark">
              <div><i class="fa-solid fa-tree-city"></i></div>
              <p>Treehouses</p>
            </a>
          </div> -->
          <div class="filter">
            <a href="/listings/filter?value=Farms" class="link-dark">
              <div><i class="fa-solid fa-cow"></i></div>
              <p>Farms</p>
            </a>
          </div>

          <div class="tax-toggle">
            <div class="form-check form-switch form-check-reverse">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>    
            </div>
          </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(let listing of allListings ){ %>
              <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card"> 
                   <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 16rem">
                 
                   <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%= listing.title%> </b><br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                        <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
                     </p>
                    </div>   
                </div>
              </a>
            <% } %>
        </div>

        <script>
          let taxSwitch = document.getElementById("flexSwitchCheckDefault");
          taxSwitch.addEventListener("click", () =>{
            let taxInfo = document.getElementsByClassName("tax-info");
             for(info of taxInfo) {
              if( info.style.display != "inline"){
                info.style.display = "inline";
              } else {
                info.style.display = "none";
              }
             }
          });
        </script>
        
</body>

