<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-4">
       <div class="col-6 offset-3">
        <h3 class="offset-2">SignUp on Wanderlust</h3>          
        <form method="post" action="/signup" class="needs-validation" novalidate>     <!-- novalidate will disable the browser default feedback tooltips -->
            <div class="mb-3 mt-4">
               <label for="username" class="form-label">Username</label>
               <input name="username" id="username" type="text" placeholder="Enter your name" class="form-control" required>
               <div class="valid-feedback">
                 Looks good!
               </div>
            </div> 
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" type="email" placeholder="Enter your email" class="form-control" required>
                <div class="invalid-feedback">
                   Email should be valid
                </div>
             </div> 
             <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" type="password" placeholder="Enter a Password" class="form-control" required>
                <div class="invalid-feedback">
                   Please enter a strong password
                </div>
             </div> 
            
             <button class="btn btn-success">SignUp</button>
        </form>
       </div> 
    </div>
</body> 